*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#parent {
    background-color: rgb(186, 223, 211);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#child1 {
    background-color: blueviolet;
    height: 200px;
    width: 200px;
}

#child2 {
    background-color: rgb(228, 100, 14);
    height: 200px;
    width: 200px;
}

#child3 {
    background-color: rgb(43, 226, 76);
    height: 200px;
    width: 200px;
}

